.mainPanel .mainBar{
    display: block;
}
.mainPanel .mainBar a{
    display: block;
}
.mainPanel .mainBar img{
    width: 100%;
}
.mainPanel .listPanel{
    margin-left: -25px;
    margin-top: 20px;
}
.mainPanel .listPanel li{
    width: 25%;
    float: left;
    margin-bottom: 20px;
    position:relative;
}
.mainPanel .listPanel li .border{
    display:block;
    margin-left: 25px;
}
.mainPanel .listPanel li i{
    display: none;
    position:absolute;
    top:4px;
    right:4px;
    width: 32px;
    height: 32px;
    background: url(../images/catagory_toWish.png) no-repeat -32px 0;
}
.mainPanel .listPanel li .border a{
    display: block;
    position: relative;
}

.mainPanel .listPanel li .border i:hover{
    background-position: -32px -32px;
}
.mainPanel .listPanel li .border .added{
    background-position: 0 0;
}
.mainPanel .listPanel li .border .added:hover{
    background-position: 0 -32px;
}

.mainPanel .listPanel li .border .descriptBlock{
    text-align: center;
}
.mainPanel .listPanel li .border img{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}
.mainPanel .listPanel li .border .bg{
    position: static;
}

.mainPanel .listPanel li .border .descriptBlock h3{
    font-size: 14px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mainPanel .listPanel li .border .descriptBlock h1{
    font-size: 14px;
    color: #f33b7e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
}
.mainPanel .loadingRow{
    visibility:hidden;
    text-align: center;
}

@media \0screen {
    .mainPanel .mainBar{
        min-width: 1000px;
    }
}


@media only screen and (max-width: 784px) {
    .mainPanel .listPanel{
        margin-left: 0;
    }
    .mainPanel .listPanel li{
        float: none;
        margin-left: 0;
        width: auto;
        text-align: center;
    }
    .mainPanel .listPanel li .border{
        position:relative;
        margin-left: 0;
        display: inline-block;
        width: 100%;
        max-width: 230px;
    }
}