.comm_form_button{
    height: 38px;
    line-height: 30px;
    padding: 0 30px;
}

.mainPanel .processPanel u{
    text-decoration: none;
}
.mainPanel .processPanel a{
    position:relative;
    display:block;
    width: 25%;
    float:left;
    overflow: hidden;
    height: 33px;
    line-height: 33px;
    background-color: #ededed;
    color: #666;
}
.mainPanel .processPanel a .head{
    position:absolute;
    left:0;
    top:0;
    height:33px;
    width: 7px;
    background: url(../../images/icons.png) no-repeat;
}
.mainPanel .processPanel a .textBlock{
    margin: 0 7px;
    text-align: center;
}
.mainPanel .processPanel a .textBlock i{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../../images/icons.png) no-repeat;
    margin-right: 10px;
    vertical-align: -4px;
}
.mainPanel .processPanel a .tail{
    position:absolute;
    right:0;
    top:0;
    height:33px;
    width: 7px;
    background: url(../../images/icons.png) no-repeat;
}
.mainPanel .processPanel .step01 .textBlock i{
    background-position: -119px 0;
}
.mainPanel .processPanel .step02 .textBlock i{
    background-position: -136px 0;
}
.mainPanel .processPanel .step03 .textBlock i{
    background-position: -153px 0;
}
.mainPanel .processPanel .step04 .textBlock i{
    background-position: -170px 0;
}
.mainPanel .processPanel a.current {
    background-color: #333;
    color: #fff;
}
.mainPanel .processPanel .step01 .head{
    background: none;
}
.mainPanel .processPanel .step04 .tail{
    background: none;
}
.mainPanel .processPanel .step01.current .textBlock i{
    background-position: -119px -17px;
}
.mainPanel .processPanel .step02.current .textBlock i{
    background-position: -136px -17px;
}
.mainPanel .processPanel .step03.current .textBlock i{
    background-position: -153px -17px;
}
.mainPanel .processPanel .step04.current .textBlock i{
    background-position: -170px -17px;
}

.mainPanel .processPanel a.hNN .head{
    background-position: -111px -34px;
}
.mainPanel .processPanel a.hNN .head{
    background-position: -126px -34px;
}
.mainPanel .processPanel a.tNN .tail{
    background-position: -119px -34px;
}
.mainPanel .processPanel a.tNC .tail{
    background-position: -147px -34px;
}
.mainPanel .processPanel a.tCN .tail{
    background-position: -133px -34px;
}
.mainPanel .processPanel a.hCN .head{
    background-position: -140px -34px;
}
.mainPanel .processPanel a.hCC .head{
    background-position: -154px -34px;
}
.mainPanel .subTitleBar{
    font-size:14px;
    margin-top:35px;
    font-weight: bold;
    padding-bottom:6px;
    border-bottom: 1px solid #ddd;
}
.mainPanel{
    font-size: 14px;
}
.mainPanel .addressList li{
    line-height: 30px;
}
.mainPanel .addressList li input{
    margin-right: 10px;
    vertical-align: -1px;
}
.mainPanel .appendAddressBlock {
    margin-top: 10px;
    display: none;
}
.mainPanel .appendAddressBlock li{
    line-height: 30px;
    margin-bottom: 10px;
}
.mainPanel .appendAddressBlock li .label{
    width: 70px;
    float: left;
    text-align: right;
}
.mainPanel .appendAddressBlock li .contentBlock{
    margin-left: 80px;
}
.mainPanel .appendAddressBlock li .contentBlock .inputBorder{
    border: 1px solid #ddd;
    padding: 0 4px;
    height: 30px;
}
.mainPanel .appendAddressBlock li .contentBlock .inputBorder.warn{
    border-color: #f00;
}
.mainPanel .appendAddressBlock li .contentBlock .inputBorder input{
    border: none;
    width: 100%;
}
.mainPanel .appendAddressBlock .addressRow .contentBlock .col{
    width: 33.3%;
    float: left;
}
.mainPanel .appendAddressBlock .addressRow .contentBlock .col:first-child .inputBorder{
    margin-left: 0;
}
.mainPanel .appendAddressBlock .addressRow .contentBlock .col .inputBorder{
    margin-left: 10px;
    padding: 0;
}
.mainPanel .appendAddressBlock .addressRow .contentBlock .col .inputBorder select{
    width: 100%;
    height: 30px;
    border: none;
}
.mainPanel .appendAddressBlock .addressRow .contentBlock .col .inputBorder select option{
    padding: 0 10px;
}
.mainPanel .timeRow .col{
    display: inline-block;
    margin-right: 40px;
}
.mainPanel .timeRow span{
    line-height: 30px;
    font-size: 14px;
}
.mainPanel .timeRow input{
    margin-right: 10px;
    vertical-align: -1px;
}
.mainPanel .recommendRow input[type='radio']{
    vertical-align: -2px;
    margin-right: 10px;
}
.mainPanel .recommendRow .col01,
.mainPanel .recommendRow .col02{
    display: inline-block;
    margin-top: 6px;
}
.mainPanel .recommendRow .col01{
    margin-right: 110px;
}
.mainPanel .recommendRow .col02 .inputBorder{
    position: relative;
    display: inline-block;
    border: 1px solid #dddddd;
    padding: 4px 4px;
    margin-left: 10px;
    visibility: hidden;
}
.mainPanel .recommendRow .col02 .inputBorder.warn{
    border-color: #f00;
}
.mainPanel .recommendRow .col02 .inputBorder input{
    position: relative;
    width: 100%;
    border: none;
    z-index: 2;
    background: url(../1pAlpha.png);
}
.mainPanel .recommendRow .col02 .inputBorder b{
    position: absolute;
    top: 5px;
    left: 4px;
    font-weight: normal;
    color: #aaa;
    font-size: 12px;
    z-index: 0;
}
.mainPanel .paymentRow li{
    line-height: 30px;
}
.mainPanel .paymentRow li input{
    margin-right: 10px;
    vertical-align: -1px;
}
.mainPanel .paymentRow li{
    font-size: 14px;
}
.mainPanel .paymentRow li b{
    color: #aaa;
    font-size: 12px;
    font-weight: normal;
}
.mainPanel table{
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-collapse:collapse;
}
.mainPanel table thead tr{
    height: 38px;
    line-height: 38px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.mainPanel table thead tr th{
    font-size: 12px;
    font-weight: normal;
}
.mainPanel table tbody td{
    text-align: center;
    padding: 15px 2px 10px 2px;
    line-height: 26px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}
.mainPanel table tbody td img{
    float:left;
    position: relative;
}
.mainPanel table tbody .productImage{
    display: inline-block;
}
.mainPanel table tbody .descriptBlock{
    margin-left: 90px;
    text-align: left;
    min-height: 100px;
    vertical-align: top;
}
.mainPanel table tbody .descriptBlock h3{
    font-size: 14px;
    margin-top: 10px;
}
.mainPanel table tbody .descriptBlock div{
    color: #666;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}
.mainPanel .mobileBlock{
    display: none;
}
.mainPanel .mobileBlock li{
    position: relative;
    border-bottom: 1px solid #ddd;
}
.mainPanel .mobileBlock li .imgCol{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    padding: 10px 0;
    text-align: center;
}
.mainPanel .mobileBlock li .imgCol .toWish{
    font-size: 10px;
    border: 1px solid #333;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    padding: 0 4px;
}
.mainPanel .mobileBlock li .imgCol .toWish:hover{
    background-color: #333;
    color: #fff;
}
.mainPanel .mobileBlock li .paramCol{
    margin-left: 130px;
    min-height: 130px;
    padding-bottom: 10px;
}
.mainPanel .mobileBlock li .paramCol h3{
    font-size: 14px;
    padding-top:10px;
}
.mainPanel .mobileBlock li .paramCol .quantitySelector{
    margin:10px 0;
}
.mainPanel .mobileBlock li .operationCol{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 140px;
    line-height:140px;
    text-align: center;
}

.mainPanel .amountBlock{
    line-height: 50px;
    font-size: 14px;
    text-align: right;
    padding: 35px 0 ;
}
.mainPanel .amountBlock ul{
    font-size: 12px;
    display: inline-block;
    width: 250px;
}
.mainPanel .amountBlock ul li{
    line-height: 24px;
}
.mainPanel .amountBlock ul .separate{
    border: 1px solid #dcdcdc;
}
.mainPanel .amountBlock ul .total{
    font-size: 14px;
    line-height: 30px;
}
.mainPanel .amountBlock ul b{
    color: #f00;
}
.mainPanel .actionRow{
    text-align: right;
    margin-top: 20px;
}
@media \0screen {
    .mainPanel .appendAddressBlock .addressRow .contentBlock .col .inputBorder select{
        padding: 0 0 6px 4px;
    }
}
@media only screen and (max-width: 784px) {
    .comm_navDenoteBar,
    .mainPanel .processPanel span,
    .mainPanel .processPanel u,
    .mainPanel table{
        display: none;
    }
    .mainPanel .mobileBlock{
        display: block;
    }
    .mainPanel .subTitleBar{
        margin-top: 20px;
        padding: 0 10px;
    }
    .mainPanel .addressList li{
        padding: 0 10px;
    }
    .mainPanel .appendAddressBlock li .label {
        float: none;
        text-align: left;
        padding: 0 10px;
    }
    .mainPanel .appendAddressBlock li .contentBlock{
        margin: 0;
        padding: 0 10px;
    }
    .mainPanel .appendAddressBlock .addressRow .contentBlock .col{
        width: auto;
        float: none;
        margin-bottom: 10px;
    }
    .mainPanel .appendAddressBlock .addressRow .contentBlock .col .inputBorder {
        margin-left: 0;
    }
    .mainPanel .recommendRow .col01,
    .mainPanel .recommendRow .col02{
        display: block;
        padding: 0 10px;
    }
    .mainPanel .timeRow .col{
        display: block;
        margin-right: 0;
        padding: 0 10px;
    }
    .mainPanel .paymentRow li {
        padding: 0 10px;
    }
    .mainPanel .actionRow {
        padding: 0 10px;
    }
    .mainPanel .actionRow a{
        display: block;
    }

}

