.mainPanel .processPanel u{
    text-decoration: none;
}
.mainPanel .processPanel a{
    position:relative;
    display:block;
    width: 25%;
    float:left;
    overflow: hidden;
    height: 33px;
    line-height: 33px;
    background-color: #ededed;
    color: #666;
}
.mainPanel .processPanel a .head{
    position:absolute;
    left:0;
    top:0;
    height:33px;
    width: 7px;
    background: url(../../images/icons.png) no-repeat;
}
.mainPanel .processPanel a .textBlock{
    margin: 0 7px;
    text-align: center;
}
.mainPanel .processPanel a .textBlock i{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../../images/icons.png) no-repeat;
    margin-right: 10px;
    vertical-align: -4px;
}
.mainPanel .processPanel a .tail{
    position:absolute;
    right:0;
    top:0;
    height:33px;
    width: 7px;
    background: url(../../images/icons.png) no-repeat;
}
.mainPanel .processPanel .step01 .textBlock i{
    background-position: -119px 0;
}
.mainPanel .processPanel .step02 .textBlock i{
    background-position: -136px 0;
}
.mainPanel .processPanel .step03 .textBlock i{
    background-position: -153px 0;
}
.mainPanel .processPanel .step04 .textBlock i{
    background-position: -170px 0;
}
.mainPanel .processPanel a.current {
    background-color: #333;
    color: #fff;
}
.mainPanel .processPanel .step01 .head{
    background: none;
}
.mainPanel .processPanel .step04 .tail{
    background: none;
}
.mainPanel .processPanel .step01.current .textBlock i{
    background-position: -119px -17px;
}
.mainPanel .processPanel .step02.current .textBlock i{
    background-position: -136px -17px;
}
.mainPanel .processPanel .step03.current .textBlock i{
    background-position: -153px -17px;
}
.mainPanel .processPanel .step04.current .textBlock i{
    background-position: -170px -17px;
}

.mainPanel .processPanel a.hNN .head{
    background-position: -111px -34px;
}
.mainPanel .processPanel a.hNN .head{
    background-position: -126px -34px;
}
.mainPanel .processPanel a.tNN .tail{
    background-position: -119px -34px;
}
.mainPanel .processPanel a.tNC .tail{
    background-position: -147px -34px;
}
.mainPanel .processPanel a.tCN .tail{
    background-position: -133px -34px;
}
.mainPanel .processPanel a.hCN .head{
    background-position: -140px -34px;
}
.mainPanel .processPanel a.hCC .head{
    background-position: -154px -34px;
}

.mainPanel .subTitleBar{
    font-size: 14px;
    margin-top: 35px;
    font-weight: bold;
}
.mainPanel .selectBlock{
    margin-top: 15px;
    margin-left: -40px;
}
.mainPanel .selectBlock li{
    position:relative;
    width: 25%;
    float: left;
    margin-bottom: 15px;
}
.mainPanel .selectBlock li input{
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -8px;
}
.mainPanel .selectBlock li div{
    margin: 0 0 0 60px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}
.mainPanel .selectBlock li img{
    width: 100%;
    max-width: 185px;
}

.actionRow{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
.actionRow input{
    height: 35px;
}
@media only screen and (max-width: 784px) {
    .mainPanel .selectBlock li{
        width: 50%;
    }
    .comm_navDenoteBar,
    .mainPanel .processPanel span,
    .mainPanel .processPanel u{
        display: none;
    }
    .mainPanel .subTitleBar {
        padding: 0 10px;
    }
    .mainPanel .selectBlock {
        padding: 0 10px;
    }
    .actionRow{
        padding: 20px 10px 0 10px;
    }

}