.comm_contentMainPanel .topInfoPanel{
    background-color: #f0eeef;
    padding: 10px 20px;
}
.comm_contentMainPanel .topInfoPanel li{
    width: 50%;
    display: inline-block;
}
.comm_contentMainPanel .contentGroup li{
    margin-top: 25px;
}
.comm_contentMainPanel .contentGroup li p{
    color: #666;
    margin-top: 5px;
}
.comm_contentMainPanel .contentGroup li .imgList{
    margin-top: 5px;
}
.comm_contentMainPanel .contentGroup li .imgList a{
    display: block;
    color: #f00;
    line-height: 30px;
}

@media only screen and (max-width: 784px) {
    .comm_contentMainPanel .topInfoPanel{
        padding: 10px;
    }
    .comm_contentMainPanel .topInfoPanel li{
        width: auto;
        display: block;
        line-height: 24px;
    }
    .comm_contentMainPanel .contentGroup li{
        padding: 0 10px;
    }
}